logs
project/project
project/target
target
.target
tmp
.history
.swp
/dist
/out
/.idea_modules
/.classpath
/.cache
/.project
/RUNNING_PID
*.class
*.swp
app/.DS_Store
project/.DS_Store
public/.DS_Store
public/third/.DS_Store
stark1.iml
.DS_Store
/.idea
.idea/workspace.xml
.idea/libraries/activator_launch_1_2_10.xml
